/* @settings

name: PDF++
id: pdf-plus
settings:
    -
        id: pdf-backlink-highlight-color
        title: Backlink highlights background color
        type: variable-color
        format: rgb
        default: rgb(255, 208, 0)
    - 
        id: hide-pdf-embed-toolbar
        title: Hide toolbar in PDF embeds with a page specified
        type: class-toggle
        default: true
    -
        id: pdf-embed-width
        title: PDF embed width
        type: variable-number-slider
        min: 10
        max: 200
        step: 1
        default: 100
*/

.textLayer .mod-focused.pdf-plus-backlink,
.pdf-embed .textLayer .mod-focused {
    background-color: var(--pdf-backlink-highlight-color, rgb(var(--text-highlight-bg-rgb)));
}

.hide-pdf-embed-toolbar .pdf-embed[src*="#"] .pdf-toolbar {
    display: none;
}

.markdown-preview-view .pdf-embed,
.markdown-source-view.mod-cm6 .cm-content .pdf-embed {
    margin-left: auto !important;
    margin-right: auto !important;
    width: calc(var(--pdf-embed-width) / 100 * 100%) !important;
}

/* When hovering over a highlighted text in PDF viewer, highlight the corresponding item in backlink pane */
.backlink-pane .search-result-file-match.hovered-backlink,
.backlink-pane .search-result-file-matches:has(.better-search-views-tree) .better-search-views-file-match.hovered-backlink:not(:hover) {
    background-color: var(--text-selection);
}
