/* @settings

name: PDF++
id: pdf-plus
settings:
    - 
        id: hide-pdf-embed-toolbar
        title: Hide toolbar in PDF embeds with a page specified
        type: class-toggle

*/

.hide-pdf-embed-toolbar .pdf-embed[src*="#"] .pdf-toolbar {
    display: none;
}