/* @settings

name: PDF++
id: pdf-plus
settings:
    - 
        id: pdf-highlight
        title: Highlights
        type: heading
        level: 2
    -
        id: pdf-plus-highlight-opacity
        title: Highlight opacity
        type: variable-number-slider
        min: 0
        max: 1
        step: 0.01
        default: 0.2
    -
        id: pdf-plus-highlight-padding-vertical-em
        title: Highlight padding (top & bottom)
        description: Boldness of highlights (em)
        type: variable-number-slider
        min: 0
        max: 1
        step: 0.01
        default: 0.05
        format: em
    -
        id: pdf-plus-highlight-padding-horizontal-em
        title: Highlight padding (left & right)
        description: Boldness of highlights (em)
        type: variable-number-slider
        min: 0
        max: 1
        step: 0.01
        default: 0.05
        format: em
    - 
        id: pdf-toolbar
        title: PDF toolbars
        type: heading
        level: 2
    - 
        id: hide-pdf-embed-toolbar
        title: Hide toolbar in PDF embeds with a page specified
        type: class-toggle
        default: true
*/

:root {
    --pdf-plus-highlight-padding-default-em: 0.05em;
}

.hide-pdf-embed-toolbar .pdf-embed[src*="#"] .pdf-toolbar,
.hide-pdf-embed-toolbar .popover.hover-popover.hover-editor .pdf-embed[src*="#"] .pdf-toolbar {
    display: none;
}

/* When hovering over a highlighted text in PDF viewer, highlight the corresponding item in backlink pane */
.backlink-pane .search-result-file-match.hovered-backlink,
.backlink-pane .search-result-file-matches:has(.better-search-views-tree) .better-search-views-file-match.hovered-backlink:not(:hover) {
    background-color: var(--text-selection);
}

.setting-item.no-border {
    border-top: none;
}

.setting-item-control input.error {
    border-color: var(--background-modifier-error);
}

.setting-item-description.error {
    color: var(--background-modifier-error);
}

.is-mobile,
.is-tablet {
    .pdf-plus-color-palette .pdf-plus-color-palette-item-inner {
        width: calc(var(--swatch-width) * 0.85);
        height: calc(var(--swatch-width) * 0.85);
    }
}

.pdf-plus-color-palette {
    user-select: none;
    -webkit-user-select: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .pdf-plus-color-palette-item-inner {
        width: var(--swatch-width);
        height: var(--swatch-width);
        border-radius: 50%;
        border: var(--input-border-width) solid var(--background-modifier-border);
    }

    .pdf-plus-write-file-toggle-container {
        padding-left: var(--size-2-3);
        padding-right: var(--size-2-3);
    }

    .pdf-plus-color-palette-status-container {
        padding: var(--size-2-2) var(--size-2-3);
        color: var(--text-muted);
        font-size: var(--font-ui-small);
    }
}

.pdf-plus-settings .setting-item-heading:not(.normal-margin-top) {
    margin-top: 2.4em;
}

.pdf-plus-settings .setting-item-description {
    &>p:first-child {
        margin-top: 0;
    }

    &>p:last-child {
        margin-bottom: 0;
    }
}

.annotationLayer .popupContent {
    &>p:first-child {
        margin-top: 0;
    }

    &>p:last-child {
        margin-bottom: 0;
    }
}

.pdf-plus-backlink-highlight-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
}

.pdf-plus-backlink-highlight-layer .pdf-plus-backlink {
    position: absolute;
    box-sizing: content-box;
    opacity: var(--pdf-plus-highlight-opacity, 0.2);
    padding: var(--pdf-plus-highlight-padding-vertical-em, var(--pdf-plus-highlight-padding-default-em)) var(--pdf-plus-highlight-padding-horizontal-em, var(--pdf-plus-highlight-padding-default-em));
    margin: calc(var(--pdf-plus-highlight-padding-vertical-em, var(--pdf-plus-highlight-padding-default-em)) * -1) calc(var(--pdf-plus-highlight-padding-horizontal-em, var(--pdf-plus-highlight-padding-default-em)) * -1);
    border-radius: var(--radius-s);
    pointer-events: auto;
    cursor: text;
}

.pdf-plus-annotation-edit-modal {
    .desc {
        margin-bottom: var(--size-4-4);
    }

    .preview-container {
        background: var(--background-modifier-form-field);
        border: var(--input-border-width) solid var(--background-modifier-border);
        border-radius: var(--input-radius);
        padding: var(--size-4-1) var(--size-4-2);
        text-align: left;

        &>p:first-child {
            margin-top: 0;
        }

        &>p:last-child {
            margin-bottom: 0;
        }
    }

    /* Arrange two children of .setting-item, namely .setting-item-info and .setting-item-contrl, vertically */
    .setting-item:last-child:has(textarea) {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;

        .setting-item-control {
            width: 100%;
            padding-top: var(--size-4-2);
        }
    }
}

.popupWrapper {
    --pdf-popup-width: 300px;
}

.pdf-plus-draggable .popup {
    cursor: default;
}

#pdf-plus-funding {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-end;

    .setting-item-control {
        padding-top: var(--size-4-4);
    }
}

#pdf-plus-funding-icon-info-container {
    display: flex;
    flex-direction: row;
    /* justify-content: left; */
    align-items: center;
}

#pdf-plus-funding-icon {
    margin-right: var(--size-4-4);
}
